<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat-Da-Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<!--fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
		integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	{{{ body }}}
</body>
<footer>
		Created by Deb Warrick 2019 
		<a href="https://github.com/dawarrick/burger.git" target="_blank" class="fab fa-github float-right"
                data-toggle="tooltip" data-original-title="Github"></a>
	</div>
</footer>

</html>