<container>
  <img src="daburger.jpg" alt="Burger">
  <h1>Eat-Da-Burger!</h1>

  <div>
    <div class='noteaten'>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/unless}}
      {{/each}}
    </div>

    <div class='eaten'>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/if}}
      {{/each}}
    </div>

  </div>
  <div class='addburger'>

    <form class="create-form">

      <div class="form-group">
        <input type="text" id="ca" name="burger_name">
      </div>
      <h4>Enter the name of a new burger to add.</h4>
      <button type="submit">Add Burger</button>

  </div>

  </form>
  </div>
</container>